
body {
    background-color: #d9cfb0;
    font-family: Calibri;

}

.mitTable {
    background-color: #bf9292;
    box-shadow: 2px 2px 2px #888888;

}

.row {
    background-color: #e8b1b1;
}

.tekst {
    font-size: 20px;
    color: #4b3838;
}

.btn {
    background: deepskyblue;
    color: white;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px #888888;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
}