<!DOCTYPE html>
<html lang="en">

<head th:fragment="relics">
    <link rel="stylesheet" href="C:\Users\gusta\IdeaProjects\zalandoDatabase\src\main\resources\static\style.css"
          th:href="@{style.css}"/>
    <title>Zalando</title>
</head>

<body>


<header th:fragment="min-header">
    <a href="index.html" th:href="@{/}"> <img src="../static/img/Zalando-Logo.png" th:src="@{/img/Zalando-Logo.png}" /></a>
    <a href="/" class="btn">HOME</a>
    <a href="create.html" class="btn">CREATE</a>
    <a href="login.html" class="btn">LOGIN</a>
</header>


<footer th:fragment="min-footer">
&copy;
2017 Spring MVC Project
</footer>


</body>
</html>